@use 'sass:map';

$colors: (
    'blue': '#0047AB',
    'green': '#22BB22',
    'red': '#cc0000',
    'black':' #000000',
    'white': 'FFFFFF'
);

@each $color-name, $color-value in $colors {
    .bg-#{$color-name} {
        background-color: $color-value;
    }

    .text-#{$color-name} {
        color: $color-value;
    }
}

$themes: (
    'primary': map.get($colors, 'blue'),
    'success': map.get($colors, 'green'),
    'error': map.get($colors, 'red'),
    'light': map.get($colors, 'black'),
    'dark': map.get($colors, 'white')
);

