
.m-1 { 
    margin: 0.25rem; 
}
.m-2 { 
    margin: 0.5rem; 
}
.m-3 { 
    margin: 1rem; 
}

.mt-1 { 
    margin-top: 0.25rem; 
}
.mb-1 { 
    margin-bottom: 0.25rem; 
}

.p-1 { 
    padding: 0.25rem; 
}
.p-2 { 
    padding: 0.5rem; 
}
.p-3 { 
    padding: 1rem; 
}

.pt-1 { 
    padding-top: 0.25rem; 
}
.pb-1 { 
    padding-bottom: 0.25rem; 
}