.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-light {
    color: #f8f9fa;
}

.text-dark {
    color: #212529;
}


.bg-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-dark {
    background-color: #212529;
    color: #fff;
}