
.fw-light {
    font-weight: 300;
}

.fw-normal {
    font-weight: 400;
}

.fw-bold {
    font-weight: 700;
}


.fs-sm {
    font-size: 0.875rem;
}

.fs-md {
    font-size: 1rem;
}

.fs-lg {
    font-size: 1.25rem;
}

.fs-xl {
    font-size: 1.5rem;
}
.fs-2xl {
    font-size: 1.75rem;
}
.fs-3xl {
    font-size: 2rem;
}