@use 'sass:map';
@use '../variables/colors' as colors;

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background: white;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
}

th {
  background: map.get(colors.$theme, 'primary');
  color: white;
}

tr:nth-child(even) {
  background: #f9fafb;
}
